<nav class="bg-white border-b border-blue-500 shadow-sm">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between h-16 items-center">
        <div class="flex items-center space-x-6">
          <span class="text-lg font-bold">SUKANEWS</span>
        </div>
        <div class="flex items-center space-x-6">
            <a href="#" class="text-sm hover:underline">Beranda</a>
            <a href="#" class="text-sm hover:underline">Kampus</a>
            <a href="#" class="text-sm hover:underline">Acara</a>
            <a href="#" class="text-sm hover:underline">Info</a>
            <a href="#" class="text-sm hover:underline">Cari</a>
            <a href="#" class="bg-black text-white text-sm px-4 py-1 rounded-full">Login / Register</a>
        </div>
      </div>
    </div>
</nav>