<!-- {% include 'snippets/base.html' %}
{% block content %}
<div>
    <h1>{{nama}}</h1>
    <h2><a href="{% url 'kampus' %}">Kampus</a></h2>
    <h2><a href="{% url 'event' %}">Event</a></h2>
    <h2><a href="{% url 'info' %}">Info</a></h2>
</div>
{% endblock content %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./src/output.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>

</body>
</html>
